<%- include('../partials/header.ejs') %>

    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <%- include('../partials/nav.ejs') %>

                <!-------------------- HEADER MENUS -------------------->   
                <%- include('../partials/menu.ejs') %>

                <!-------------------- CONTENTS START --------------------> 
                <div class="video-wrapper" style="margin-top: 20px; text-align: center;">
                    <iframe 
                        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fdzbb594%2Fvideos%2F552584174549577%2F&show_text=false&width=560&t=0" 
                        width="560" 
                        height="314" 
                        style="border:none;overflow:hidden" 
                        scrolling="no" 
                        frameborder="0" 
                        allowfullscreen="true" 
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                </div>
                
            </div>
        </div>

        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
        
        <script src="js/2-user/live.js"></script>
    </div>
</body>
</html>
