<%- include('../partials/header.ejs') %>

    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <%- include('../partials/nav.ejs') %>

                <!-------------------- HEADER MENUS -------------------->   
                <%- include('../partials/menu.ejs') %>

                <!-------------------- CONTENTS START --------------------> 
            </div>
        </div>

        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
        
    </div>

</body>
</html>
