<%- include('../partials/header.ejs') %>

<div class="page-container">
  <div class="content-wrap">
    <div class="container">
      <%- include('../partials/nav.ejs') %>

      <!-- HEADER -->
      <div class="form-title-container">
        <h3 class="form-title">BLOCKTIMER APPLICATION FORM</h3>
      </div>

      <!-- PROGRESS BAR -->
      <div class="progress-bar">
        <div class="circle circle-1">1</div>
        <div class="circle circle-2">2</div>
        <div class="circle circle-3">3</div>
      </div>

      <form id="blocktimerForm2">
        <!-- FORMS START -->
        <div class="submit-button">
          <button type="submit" class="submit">SUMBIT</button> 
        </div>
      </form>

      <!--------------- SCHEDULE --------------->

      <!-------------------- FOOTER -------------------->
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
</div>

<script src="js/2-user/blocktimer2.js"></script>
<script src="js/3-logreg/auth.js" defer></script>
</body>

</html>