<%- include('../partials/header.ejs') %>

<div class="page-container">
  <div class="content-wrap">
    <div class="container">
      <%- include('../partials/nav.ejs') %>

      <!-------------------- CONTENTS START -------------------->
      <div class="form-title-container">
        <h3 class="form-title">BLOCKTIMER APPLICATION FORM</h3>
      </div>

      <div class="form-questions-container">
        <form id="blocktimerForm">

          <br>
          <a href="/JoinBlocktimer-Step3">
            <button type="button">Next</button>
          </a>

        </form>
      </div>
    </div>
  </div>

  <!-------------------- FOOTER -------------------->
  <%- include('../partials/footer.ejs') %>

</div>

<script src="js/2-user/blocktimer.js"></script>
<script src="js/3-logreg/auth.js" defer></script>
</body>

</html>