<%- include('../partials/header.ejs') %>

<div class="page-container">
  <div class="content-wrap">
    <div class="container">
      <%- include('../partials/nav.ejs') %>

                <!-- HEADER -->
                <div class="form-title-container">
                    <h3 class="form-title">JOIN GREEN FM</h3>
                </div>
                
                <!-- PROGRESS BAR -->
                <div class="progress-bar">
                    <div class="circle circle-1">1</div>
                    <div class="circle circle-2">2</div>
                    <div class="circle circle-3">3</div>
                </div>                                            

                <form id="joingreenfmForm2">
                <!-- FORMS START -->
                <div class="submit-button">
                    <button type="submit" class="submit">SUMBIT</button> <!-- Add this line --> 
                </div>
            </form>
        
        <!-------------------- FOOTER -------------------->
  <%- include('../partials/footer.ejs') %>
</div>

<script src="js/2-user/joingreenfm2.js"></script>
</body>
</html>