<%- include('../partials/header.ejs') %>

<div class="page-container">
  <div class="content-wrap">
    <div class="container">
      <%- include('../partials/nav.ejs') %>

                <!-- HEADER -->
                <div class="form-title-container">
                    <h3 class="form-title">JOIN GREEN FM</h3>
                </div>
                
                <!-- PROGRESS BAR -->
                <div class="progress-bar">
                    <div class="circle circle-1">1</div>
                    <div class="circle circle-2">2</div>
                    <div class="circle circle-3">3</div>
                </div>                                            

                <form id="joingreenfmForm">
                <!-- FORMS START -->
                    <div class="forms-container">
                        <div class="form-container1">
                            <label>Full Name</label>
                            <div class="name-section">
                                <input type="text" name="last-name" placeholder="Last Name" required>
                                <input type="text" name="first-name" placeholder="First Name" required>
                                <input type="text" name="mi" placeholder="M.I" required>
                            </div>

                            <label>Student Number</label>
                            <input type="text" name="student-number" required>

                            <label>DLSU-D Email</label>
                            <input type="text" name="dlsud-email" placeholder="@dlsud.edu.ph" required>

                            <label>College</label>
                            <div class="radio-group">
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="CLAC" required> CLAC - College of Liberal Arts and Communication</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="CBAA"> CBAA - College of Business Administration and Accountancy</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="CCJE"> CCJE - College of Criminal Justice Education</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="COED"> COED - College of Education</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="CEAT"> CEAT - College of Engineering, Architecture, and Technology</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="COSC"> COSC - College of Science</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="CICS"> CICS - College of Information and Computer Studies</label>
                                </div>
                                <div class="radio-item">
                                    <label><input type="radio" name="college" value="CTHM"> CTHM - College of Tourism and Hospitality Management</label>
                                </div>
                            </div>
                        </div>

                        <!-- Form 2 -->
                        <div class="form-container2">
                            <label>Program</label>
                            <select name="program" required>
                                <option value="" disabled selected>Select your program</option>
                                
                                <optgroup label="CLAC">
                                    <option value="Communication">Communication</option>
                                    <option value="Digital and Multimedia Journalism">Digital and Multimedia Journalism</option>
                                    <option value="Philosophy">Philosophy</option>
                                    <option value="Political Science">Political Science</option>
                                    <option value="Internal Development">Internal Development</option>
                                    <option value="BA Psychology">BA Psychology</option>
                                    <option value="BS Psychology">BS Psychology</option>
                                </optgroup>

                                <optgroup label="CBAA">
                                    <option value="Accountancy">Accountancy</option>
                                    <option value="Management Accounting">Management Accounting</option>  
                                    <option value="Entrepreneurship w/ Specialization in Agripreneurship">Entrepreneurship w/ Specialization in Agripreneurship</option>
                                    <option value="Entrepreneurship w/ Specialization in Food Entrepreneurship">Entrepreneurship w/ Specialization in Food Entrepreneurship</option>
                                    <option value="Business Ad Major in Business and Operations Management w/ Specialization in Business Analytics">Business Ad Major in Business and Operations Management w/ Specialization in Business Analytics</option>
                                    <option value="Business Ad Major in Business Economics">Business Ad Major in Business Economics</option>
                                    <option value="Business Ad Major in Human Resource Development w/ Specialization in Business Analytics">Business Ad Major in Human Resource Development w/ Specialization in Business Analytics</option>
                                    <option value="Business Ad Major in Marketing Management w/ Specialization in Business Analytics">Business Ad Major in Marketing Management w/ Specialization in Business Analytics</option>
                                    <option value="Business Ad Major in Marketing Management w/ Specialization in Integrated Marketing Communications">Business Ad Major in Marketing Management w/ Specialization in Integrated Marketing Communications</option>
                                </optgroup>
                                
                                <optgroup label="CCJE">
                                    <option value="Criminology">Criminology</option>
                                    <option value="Forensic Science">Forensic Science</option>
                                </optgroup>
                                
                                <optgroup label="COED">
                                    <option value="Early Childhood Education">Early Childhood Education</option>
                                    <option value="Special Needs Education">Special Needs Education</option>
                                    <option value="Secondary Education">Secondary Education</option>
                                    <option value="Physical Education">Physical Education</option>
                                    <option value="Certificate in Teaching Program">Certificate in Teaching Program</option>
                                    <option value="Certificate in Teaching Values Education">Certificate in Teaching Values Education</option>
                                    <option value="Certificate in Sign Language">Certificate in Sign Language</option>
                                    <option value="Certificate in Teaching Early Childhood Learners">Certificate in Teaching Early Childhood Learners</option>
                                </optgroup>
                                
                                <optgroup label="CEAT">
                                    <option value="Architecture">Architecture</option>
                                    <option value="Civil Engineering">Civil Engineering</option>
                                    <option value="Computer Engineering">Computer Engineering</option>
                                    <option value="Electrical Engineering">Electrical Engineering</option>
                                    <option value="Electronics Engineering">Electronics Engineering</option>
                                    <option value="Industrial Engineering">Industrial Engineering</option>
                                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                                    <option value="Sanitary Engineering">Sanitary Engineering</option>
                                    <option value="Multimedia Arts">Multimedia Arts</option>
                                </optgroup>

                                <optgroup label="COSC">
                                    <option value="Biology w/ Specialization in Animal Biology">Biology w/ Specialization in Animal Biology</option>
                                    <option value="Biology w/ Specialization in Cell and Molecular Biology">Biology w/ Specialization in Cell and Molecular Biology</option>
                                    <option value="Biology w/ Specialization in Environmental Science">Biology w/ Specialization in Environmental Science</option>
                                    <option value="Biology w/ Specialization in Medical Biology">CiBiology w/ Specialization in Medical Biology</option>
                                    <option value="Biology w/ Specialization in Microbiology">Biology w/ Specialization in Microbiology</option>
                                    <option value="Biology w/ Specialization in Plant Biology">Biology w/ Specialization in Plant Biology</option>
                                    <option value="Applied Mathematics">Applied Mathematics</option>
                                </optgroup>

                                <optgroup label="CICS">
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Information Technology">Information Technology</option>
                                </optgroup>

                                <optgroup label="CTHM">
                                    <option value="Hospitality Management">Hospitality Management</option>
                                    <option value="Tourism Management">Tourism Management</option>
                                </optgroup>
                            </select>

                            <label>College Year</label>
                            <ul class="radio-group">
                                <li class="radio-item">
                                    <label><input type="radio" name="college-year" value="1st Year" required> 1st Year</label>
                                </li>
                                <li class="radio-item">
                                    <label><input type="radio" name="college-year" value="2nd Year"> 2nd Year</label>
                                </li>
                                <li class="radio-item">
                                    <label><input type="radio" name="college-year" value="3rd Year"> 3rd Year</label>
                                </li>
                                <li class="radio-item">
                                    <label><input type="radio" name="college-year" value="4th Year"> 4th Year</label>
                                </li>
                                <li class="radio-item">
                                    <label><input type="radio" name="college-year" value="5th Year"> 5th Year</label>
                                </li>
                            </ul>

                            <label>Section</label>
                            <input type="text" name="section" required>

                            <label>Facebook Profile URL</label>
                            <input type="text" name="facebook-url" placeholder="http://www.facebook.com/">

                            <label>Affiliated Organizations</label>
                        <textarea name="affiliated-orgs" rows="4" cols="50" placeholder="List down the organizations you belong to, both internal (within the University) and external (outside the University)." required></textarea>
                        </div>
                        </div>

                        <!-- Form 3 -->
                        <div class="form-container3">
                            <!-------------------- 2 - DEPARTMENT PREFERENCE -------------------->
                            <label>Preferred Department</label>
                            <div class="radio-group">
                                <label><input type="radio" name="college-year" value="News and Public Affairs" required> News and Public Affairs</label>
                                <label><input type="radio" name="college-year" value="Music and Entertainment"> Music and Entertainment</label>
                                <label><input type="radio" name="college-year" value="Operations and Logistics"> Operations and Logistics</label>
                                <label><input type="radio" name="college-year" value="Creatives and Promotions"> Creatives and Promotions</label>
                            </div>
                            <label>Reasons for Staff Application</label>
                            <textarea name="affiliated-orgs" rows="4" cols="50" placeholder="Why did you apply for Green FM?" required></textarea>
    
                            <label>Reasons for Department Application</label>
                            <textarea name="affiliated-orgs" rows="4" cols="50" placeholder="Why did you apply for your chosen department?" required></textarea>
    
                            <label>Green FM Contribution</label>
                            <textarea name="affiliated-orgs" rows="4" cols="50" placeholder="What can you contribute to Green FM as it transitions from purely hybrid to traditional programming??" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="submit-button">
                    <button type="submit" class="submit">NEXT</button> <!-- Add this line --> 
                </div>
            </form>
        
        <!-------------------- FOOTER -------------------->
  <%- include('../partials/footer.ejs') %>
</div>

<script src="js/2-user/joingreenfm.js"></script>
</body>
</html>