<%- include('../partials/header.ejs') %>

<div class="page-container">
  <div class="content-wrap">
    <div class="container">
      <%- include('../partials/nav.ejs') %>
                
                <!-------------------- CONTENTS START -------------------->
                <div class="form-title-container">
                    <h3 class="form-title">JOIN GREEN FM</h3>
                </div>
                <div class="form-questions-container">
                    <form id="joingreenfmForm">

                    </form>
                </div>
            </div>
        </div>
        
        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
    </div>

    <script src="js/2-user/joingreenfm.js"></script>
</body>
</html>