<%- include('../partials/header.ejs') %>

<div class="page-container">
  <div class="content-wrap">
    <div class="container">
      <%- include('../partials/nav.ejs') %>

                <!-------------------- CONTENTS START -------------------->
                <div class="form-title-container">
                    <h3 class="form-title">JOIN GREEN FM - APPLICATION STATUS</h3>
                </div>
                <div class="form-questions-container">
                    <!-- Status will be loaded here -->
                    <div id="staff-application-status">
                        <p>Loading application status...</p>
                    </div>
                </div>
                 <!-------------------- CONTENTS END -------------------->
            </div>
        </div>

        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
         <%- include('../partials/spinner.ejs') %> <%# Include spinner %>
    </div>

    <script src="/js/2-user/joingreenfm3.js"></script> <%# Link the new JS file %>
</body>
</html>