<%- include('../partials/header.ejs') %>
<div class="page-container">
    <div class="content-wrap">
        <div class="container">
            <%- include('../partials/nav.ejs') %>
            <%- include('../partials/menu.ejs') %>
            <div id="aboutUsModal" class="modal">
                <div class="modal-content">
                    <div id="background" class="content-section">
                        <h3>Background of the Station</h3>
                            <p>DLSU-D (Formerly DWSU) 95.9 Green FM, also known simply as Green FM or La Salle Radio, is the official campus radio station of De La Salle University – Dasmariñas.</p>
                            <p>Green FM is found on the frequency modulation (FM) band 95.9 MHz with a transmitter power of 10-20 watts and an estimated signal reach of a three-kilometer radius.</p>
                            <p>The station call letters DWSU was assigned by the National Telecommunications Commission (NTC) when the station started operating under the name La Salle Radio in </p>
                            <p>August 2005 under the initiative of the Communication Arts Department (CAD), now called Communication and Journalism Department (CJD) Chair Ms. Rosanni Recreo Sarile.</p>
                            <p>The station was directly supervised by the former CJD Professor Ms. Maria Aurora Quadra-Balibay from 2007 to 2019 with a team of student managers, staff, and apprentices.</p>
                            <p>The role was given to former CJD Chair Mr. Artin Umali in 2019. At present, Mr. Umali is still supervising Green FM as its station manager.</p>
                            <p><strong>In 2016,</strong> Green FM created the award-winning Animo Channel TV Project to provide a pay television platform for the made-for-television versions of the radio shows. Animo Channel TV</p>
                            <p>was made available for viewing in Cavite and Region 4-A pay television via the Cable Operators Association of Cavite (COAC) partners.</p>
                            <p><strong>In 2019,</strong> Green FM gave college student governments, interest organizations, administrative offices, members of the faculty, and support staff more airtime and block schedules to cater to the growing</p>
                            <p>needs of the community. This came to be what is now known as Green FM’s Blocktimer Program which saw the organization’s growth as it partnered with the integral members of the Lasallian community.</p>
                            <p><strong>In 2020,</strong> however, the global pandemic has affected Green FM’s broadcasting. Due to lockdown restrictions, Green FM members were barred from entering the station located inside the university.</p>
                            <p> As a result of working remotely, Green FM moved its shows from the airwaves to the internet. This paved the way for the DLSU-D Green FM Podcasts. From the usual packed 9-to-5 programming,</p>
                            <p>Green FM reduced the number of its shows to 5 which were posted on the organization’s official Facebook Page, Spotify, and Apple Podcasts.</p>
                            <p>As Green FM approaches the new academic year, it aims to “reboot” its presence on the airwaves as Green FM successfully transitioned to the new normal. </p>
                            <p>Green FM is seeking to revive the traditional programming and airing while incorporating the latest trends and developments from the digital era. </p>
                            <p>Aside from its original programming, it also plans to create more robust programs strengthened by its blocktimers from different organizations and communities within De La Salle University- Dasmariñas.</p>
                            
                        </div>
                        <div id="mission" class="content-section">
                            <h3>Mission and Vision</h3>
                            <p><strong>Mission:</strong> DLSU-D Green FM aims to empower the Lasallian community through providing inclusive, highly essential, and socially sustainable campus-oriented radio programs.</p>
                            <p><strong>Vision:</strong> DLSU-D Green FM visualizes an empowered Lasallian community, guided by the Lasallian core values and unified by the lasting power of broadcasting as it continues </p>
                            <p>to become a forefront of truth and empowerment not just in the University, but also on the neighboring communities.</p>
                           
                        </div>
                        <div id="team" class="content-section">
                            <h2>The 95.9 Green FM Team</h2>
                            <h3>Management Board (A.Y. 2024 – 2025):</h3>
                            <p><strong>Senior Director for Programming and Internal Affairs:</strong> Ian Carlos Flores</p>
                            <p><strong>Senior Director for Music and Entertainment:</strong> Juaymah Darlene Largo</p>
                            <p><strong>Senior Director for Operations and Logistics:</strong> Ramil Benedict De Jesus</p>
                            <p><strong>Senior Director for Creatives and Promotions:</strong> Victoria Isabelle Corpuz</p>
                            <p><strong>Junior Director for Internal Affairs:</strong> Joshua Ernest Macaraeg</p>
                            <p><strong>Junior Director for External Affairs:</strong> Ma. Cazzandra Lacman</p>
                            <p><strong>Junior Director for News and Public Affairs:</strong> Gwyneth Suzanne Aristo</p>
                            <p><strong>Junior Director for Music and Entertainment:</strong> Kristine Borreros</p>
                            <p><strong>Junior Director for Operations and Logistics:</strong> Krizcel Margarette Catbagan</p>
    
                            <br><h3>DEPARTMENT STAFF (A.Y. 2024 – 2025)</h3>
                            <h3>News and Public Affairs Department</h3>
                            <p><strong>Senior Staff: </strong> Joie Maxine Guinto</p>
                            <p>Luis Anton Imperial, Wenzy Alexis Ebue, Cathleen Joyce Tarzona, Mariane Clarice Incapas, Gian Kent Rosini, Mary Claudine Macaculop,</p>
                            <p>Andrea Velado, Angela Beatriz Sobrepeña, Aleianna Clarisse Contreras</p>
    
                            <h3>Music and Entertainment Department</h3>
                            <p>Gia Williane Gawaran, Jamie Rae Arriola, Donn Dinglasan, Jan Christopher Alla, Kirsten Ashley Gervacio, Shaira Margarette Pereña,</p> 
                            <p>Jamie Morta, Reesebelle Victoria Dagalea, Gavin Dale Sitones, Luis Gabriel Lobaton, Fiona Margarette Lopez, Kirsten Anne Vesorio,</p>
                            <p></p>
    
                            <h3>Operations and Logistics Department</h3>
                            <p><strong>Senior Staff: </strong> Patrick Herrera</p>
                            <p>Alan Stephen Picardal, Ron John Cereno, Niah Luena Batioco</p>
    
                            <h3>Creatives and Promotions Department</h3>
                            <p><strong>Senior Staff: </strong> Russel Anthony Cunag</p>
                            <p>Kyrie Ygonia, Jericho Daniel Javier, Juliana Beatrize De Ocampo, Jan Maxine Sio Loon, Marvince Gapac</p>
    
                            <br><h3>DLSU-D GREEN FM DEPARTMENT APPRENTICES</h3>
                            <h3>News and Public Affairs Department</h3>
                            <p><strong>Coming Soon...</strong></p>
    
                            <h3>Music and Entertainment Department</h3>
                            <p><strong>Coming Soon...</strong></p>
    
                            <h3>Operations and Logistics Department</h3>
                            <p><strong>Coming Soon...</strong></p>
    
                            <h3>Creatives and Promotions Department</h3>
                            <p><strong>Coming Soon...</strong></p>
    
                            
                            <div id="advisers" class="content-section">
                                <h3>Advisers and Department Heads</h3>
                                
                                <!-- Adviser Section -->
                                <div class="adviser-section">
                                    <p><strong>Adviser / Station Manager:</strong> Mr. Artin Umali</p>
                                </div>
                                
                                <!-- Department Heads Section -->
                                <div class="department-heads-section">
                                    <p><strong>Chair, Communication and Journalism Department:</strong> Ms. Isolde Valera</p>
                                    <p><strong>Dean, College of Liberal Arts and Communication:</strong> Edwin F. Lineses</p>
                                    <p><strong>Associate Dean, College of Liberal Arts and Communication:</strong> Dr. Jesus A. Medina</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>

        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
        
    </div>

</body>
</html>
