<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green FM | <%= pageTitle %></title>
    <link rel="stylesheet" href="<%= cssFile %>">
    <link rel="stylesheet" href="css/user.css">

    <!-- Favicon for the tab logo -->
    <link rel="icon" type="image/png" href="img/GFMLogo.png">
</head>
<body>
