<div class="header-container">
    <div class="posts-title-container">
            <h3 class="posts-title"><%= headerTitle %></h3>
        </div>
        <div class="chat-search-container">
            <div class="icons-container">
                <img src="../img/email.png" alt="Email Icon" class="icon">
                <img src="../img/search.png" alt="Search Icon" class="icon">
            </div>
        </div>
    <div class="user-log-container">
        <% if (user) { %>
            <!-- User is logged in -->
            <div class="user-dropdown" id="userDropdown">
                <div class="user-container">
                    <img src="img/user.png" alt="User Icon" class="user-icon-dropdown"> <!-- Add this line -->
                    <span class="login-text"><%= user.username %></span>
                </div>
                <div id="dropdown-menu" class="dropdown-content">
                    <a href="/manage-account">Manage Account</a>
                    <a href="/LogOut">Log Out</a>
                </div>
            </div>            
        <% } else { %>
            <!-- User is not logged in -->
            <a href="/LogIn?redirect=<%= encodeURIComponent(currentPath) %>" id="login-link">

                <div class="user-container">
                    <img src="img/user.png" alt="User Icon" class="user-icon">
                    <span class="login-text">LOG-IN</span>
                </div>
            </a>
        <% } %>
    </div>
</div>

