<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>

<body>
  <h1>404 - Page Not Found</h1>
  <p>Sorry, the page you are looking for does not exist.</p>
</body>

</html>

<div class="header-container">
  <div class="posts-title-container">
    <h3 class="posts-title">POSTS</h3>
  </div>
  <div class="chat-search-container">
    <div class="icons-container">
      <img src="img/email.png" alt="Email Icon" class="icon">
      <img src="img/search.png" alt="Search Icon" class="icon">
    </div>
  </div>
  <div class="user-log-container">
    <a href="/Log-In" id="login-link">
      <div class="user-container">
        <img src="img/user.png" alt="User Icon" class="user-icon">
        <span class="login-text">LOG-IN</span>
      </div>
    </a>
  </div>
</div>