.manage-account-form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.8vw;
}

.change-password-form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.8vw;
}

.form-group {
    width: 95%;
    margin-left: 0;
    margin-right: 1.5vw;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #222;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #EFEFEF;
    color: #333;
    font-size: 16px;
}

.form-group input::placeholder {
    color: #888;
}

/* Style for disabled input fields */
.form-group input:disabled {
    background-color: #f5f5f5; /* Light gray background */
    color: #888; /* Gray text color */
    cursor: not-allowed; /* Change cursor to indicate non-editable */
    border: 1px solid #ccc; /* Optional: Add a border to distinguish */
}

.username-error, .password-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-button {
    background-color: #00722A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #00591F;
}