/* Base styles */
body {
    background-color: #EFEFEF;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

/* Container adjustments for responsive margins */
.container {
    margin-left: 9vw; /* Adjusts based on viewport width */
    display: block;
}

/* Sidebar container to keep sidebars together */
.sidebars {
    position: fixed; /* Keep sidebars in a fixed position */
    top: 2vh; /* Initial top margin */
    left: 1vw; /* Align to the left */
    display: flex;
    flex-direction: column; /* Stack sidebars vertically */
    gap: 1vh; /* Space between sidebars */
}

/* Sidebar styling */
.sidebar, .sidebar1, .sidebar2 {
    width: 12vw; /* Responsive width */
    max-width: 300px; /* Limit maximum width */
    background-color: white;
    border-radius: 15px;
    padding: 1vw 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Prevent overflow */
}

.logo {
    display: block;
    margin: 1vh auto;
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.title {
    text-align: center;
    color: #00722A;
    font-size: 0.9em;
    margin: 5px 0;
    font-weight: 550;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    width: 100%;
}

.menu li {
    text-align: center;
    margin: 3px 0;
}

.menu li a {
    text-decoration: none;
    color: #272525;
    font-weight: 550;
    font-size: 0.9em;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s;
    box-sizing: border-box;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text wrapping */
}

.menu li a:hover {
    color: white;
    background-color: #00722A;
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.social-icon {
    width: 22px;
    height: auto;
    margin: 0 8px;
}

/* Header Containers */
.header-container {
    display: flex; /* Use flexbox to arrange items in a row */
    align-items: center;
    margin-right: 2vh;
}

.posts-title-container {
    background-color: #ffffff;
    padding: 2px;
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 70vw;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text wrapping */
}

.posts-title {
    font-weight: 600;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}

.chat-search-container {
    background-color: #ffffff;
    padding: 2px;
    margin-top: 1vh;
    margin-left: 1vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 10vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text wrapping */
}

.icons-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: auto;
    margin: 0 5px;
}

.user-log-container {
    background-color: #ffffff;
    padding: 2px;
    margin-top: 1vh;
    margin-left: 1vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 10vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text wrapping */
}

.user-container {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    width: 8vw;
}

.user-icon {
    width: 20px;
    height: auto;
    margin-right: 1vh;
    margin-left: 1vh;
}

.login-text {
    font-size: 14px;
    color: #333;
    margin-right: 2vh;
}

/* User Dropdown Styles */
.user-dropdown {
    position: relative; /* Allows dropdown to position itself based on this */
    cursor: pointer;
}

.dropdown-content {
    display: none; /* Initially hidden */
    position: absolute; /* Absolute positioning for dropdown */
    background-color: white; /* Background color of dropdown */
    width: auto; /* Match the width of the login container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
    z-index: 9999; /* Ensure it appears above other elements */
    border-radius: 10px; /* Rounded corners for dropdown */
    top: 3.2vw; /* Position it directly below the user login container */
    left: -2vw; /* Align to the left edge of the user-dropdown */
    margin-top: 0; /* No additional margin needed */
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.user-dropdown:hover .dropdown-content {
    display: none; /* Show dropdown on hover */
}

.dropdown-content a {
    color: #272525; /* Text color */
    padding: 10px; /* Padding for each link */
    text-decoration: none; /* Remove underline */
    display: block; /* Block display for links */
    font-size: 14px; /* Font size */
    border-radius: 10px; /* Match the dropdown shape */
}

.dropdown-content a:hover {
    background-color: #00722A; /* Background color on hover */
    color: white; /* Text color on hover */
}

.user-icon-dropdown {
    width: 20px; /* Icon width */
    height: auto; /* Auto height */
    margin-left: -2.5vh; /* Adjust margin as needed */
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}

#login-link {
    text-decoration: none; /* Remove underline */
}

#login-link .login-text {
    text-decoration: none; /* Remove underline */
}

/* Ensure the parent container does not hide overflow */
.user-log-container {
    position: relative; /* Manage positioning context */
    overflow: visible; /* Ensure that dropdown can be shown outside this container */
}

/* Adjust user-container to center align icon and text */
.user-container {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    width: auto;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    color: #333;
    margin-top: auto; /* Automatically moves footer to the bottom */
}

footer a {
    color: #00722A;
    text-decoration: none;
    margin: 0 1vw;
}

footer a:hover {
    text-decoration: underline;
}

/* Base styles for sidebar toggling */
.sidebar-toggle {
    display: none; /* Hidden by default */
    position: fixed;
    top: 1vh;
    left: 1vw;
    margin-right: 5vw;
    padding: 8px;
    background-color: white;
    color: #00722A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* ---MEDIA QUERIES--- */
/* smallest screens */
@media screen and (min-width: 1px) and (max-width: 249px) {
    .sidebar-toggle {
        display: block;
        margin-top: 5vw;
        margin-left: 5vw;
    }

    .sidebars {
        display: none; /* Hide sidebars by default */
    }

    /* Add class to show sidebar when toggle button is clicked */
    .sidebars.active {
        display: flex;
        position: absolute;
        z-index: 100;
        padding: 10px;
        margin-top: 5vw;
        margin-left: 10vw;
    }

    .logo {
        width: auto;
        max-width: 15vw;
        min-width: 10vw;
        height: auto;
    }

    .title {
        font-size: 8px;
    }

    .sidebar, .sidebar1, .sidebar2 {
        width: auto;
        max-width: 80vw;
        min-width: 20vw;
    }

    .sidebar {
        height: auto;
        max-height: 200vw;
        min-height: 80vw;
    }

    .sidebar1, .sidebar2 {
        height: auto;
        max-height: 80vw;
        min-height: 30vw;
    }

    .menu li a {
        font-size: 7px;
    }

    .social-icon {
        width: auto;
        max-width: 5vw;
        min-width: 3vw;
        height: auto;
    }

    .container {
        margin-left: 0;
    }

    .posts-title-container, .chat-search-container, .user-log-container {
        display: none;
    }

    footer {
        font-size: 6px;
    }
}

/* smaller screens */
@media screen and (min-width: 250px) and (max-width: 343px) {
    .sidebar-toggle {
        display: block;
        margin-top: 2.5vw;
        margin-right: 5vw;
    }

    .sidebars {
        display: none; /* Hide sidebars by default */
    }

    /* Add class to show sidebar when toggle button is clicked */
    .sidebars.active {
        display: flex;
        position: absolute;
        z-index: 100;
        padding: 10px;
        margin-left: 5vw;
    }

    .logo {
        width: auto;
        max-width: 15vw;
        min-width: 10vw;
        height: auto;
    }

    .title {
        font-size: 10px;
    }

    .sidebar, .sidebar1, .sidebar2 {
        width: auto;
        max-width: 60vw;
        min-width: 20vw;
        height: auto;
    }

    .menu li a {
        font-size: 8px;
    }

    .social-icon {
        width: auto;
        max-width: 5vw;
        min-width: 3vw;
        height: auto;
    }

    .container {
        margin-left: 0;
    }

    .posts-title-container {
        width: 50vw;
        margin-left: 15vw;
    }
    
    .chat-search-container, .user-log-container {
        width: 30vw;
        margin-left: 2vw;
        padding: 1vw;
    }

    .posts-title-container, .chat-search-container, .user-log-container {
        height: auto;
        min-height: 10vw;
        border-radius: 10px;
    }

    .icon, .user-icon {
        width: auto;
        max-width: 4vw;
        min-width: 2vw;
        height: auto;
    }

    .posts-title, .login-text {
        font-size: 10px;
    }
}

/* small screens */
@media screen and (min-width: 344px) and (max-width: 768px) {
    .sidebar-toggle {
        display: block;
    }

    .sidebars {
        display: none; /* Hide sidebars by default */
    }

    /* Add class to show sidebar when toggle button is clicked */
    .sidebars.active {
        display: flex;
        position: absolute;
        z-index: 100;
        padding: 10px;
    }

    .sidebar, .sidebar1, .sidebar2 {
        width: auto;
        max-width: 35vw;
        min-width: 12vw;
        height: auto;
    }

    .menu li a {
        font-size: 10px;
    }

    /* Adjust the layout for smaller screens */
    .container {
        margin-left: 0;
    }

    .posts-title-container, .chat-search-container, .user-log-container {
        width: 90vw; /* Adjust main containers to full width */
        margin-left: 0;
    }

    .posts-title, .login-text {
        font-size: 1em; /* Adjust font size */
    }
}

/* medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}

/* large screens */
@media screen and (min-width: 1025px) {
    
}

/* KEY FRAMES */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}