<%- include('../partials/header-logreg.ejs') %>

<div class="register-container">
  <div class="register-box">
    <a href="/Home"><img src="/img/GFMLogo.png" alt="Green FM Logo" class="logo"></a>
    <h2 class="register-title">Create an Account</h2>

    <!-- Registration Form -->
    <form id="registerForm2" class="register-form">
      <div class="form-group">
        <label for="text">Full Name</label>
        <input type="text" name="last-name" placeholder="Last Name" required>
        <input type="text" name="first-name" placeholder="First Name" required>
        <input type="text" name="mi" placeholder="M.I">
      </div>

      <div class="form-group">
        <label for="dlsuD">Are you from DLSU-D?</label>
        <label for="dlsuD"><input type="checkbox" id="dlsuD" name="dlsuD" value="true">Yes</label>
      </div>

      <div id="studentNumberContainer" style="display: none;"> <!-- Hide initially -->
          <label for="studentNumber">Student Number:</label>
          <input type="text" id="studentNumber" name="studentNumber">
      </div>

      <button type="submit" class="register-button">Submit</button>
    </form>
  </div>
</div>
<script src="/js/3-logreg/add-info.js"></script>
</body>
</html>
