<%- include('../partials/header-logreg.ejs') %>

<div class="register-container">
  <div class="register-box">
    <a href="/Home"><img src="img/GFMLogo.png" alt="Green FM Logo" class="logo"></a>
    <h2 class="register-title">Create an Account</h2>

    <!-- Google Register Button -->
    <a href="/register-google" class="google-register-button">
      <img src="img/google.png" alt="Google Icon" class="google-icon">
      Register with Google
    </a>

    <div class="or-divider">or</div>

    <!-- Registration Form -->
    <form id="registerForm" class="register-form">
      <div class="form-group">
        <label for="text">Full Name</label>
        <input type="text" name="last-name" placeholder="Last Name" required>
        <input type="text" name="first-name" placeholder="First Name" required>
        <input type="text" name="mi" placeholder="M.I" required>
        <div class="name-error"></div>
      </div>

      <div class="checkbox-group">
        <p><input type="checkbox" name="dlsud"> DLSU-D</p>
        <p><input type="checkbox" name="nondlsud"> NON-DLSU</p>
      </div>

      <button type="submit" class="register-button">Submit</button>
    </form>
  </div>
</div>
<script src="js/3-logreg/register.js"></script>
</body>

</html>