<%- include('../partials/header-logreg.ejs') %>

<div class="register-container">
  <div class="register-box">
    <a href="/Home"><img src="/img/GFMLogo.png" alt="Green FM Logo" class="logo"></a>
    <h2 class="register-title">Create an Account</h2>

    <!-- Registration Form -->
    <form id="registerForm2" class="register-form">
      <div class="form-group">
        <label for="text">Full Name</label>
        <input type="text" name="lastName" placeholder="Last Name" required>
        <input type="text" name="firstName" placeholder="First Name" required>
        <input type="text" name="mi" placeholder="M.I">
      </div>

      <label for="dlsuD">Are you from DLSU-D?</label>
        <select id="dlsuD" name="dlsuD" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <label>DLSU-D Email</label>
        <input type="text" id="dlsudEmail" name="dlsudEmail" placeholder="@dlsud.edu.ph">

      <button type="submit" class="register-button">Submit</button>
    </form>
  </div>
</div>
<script src="/js/3-logreg/add-info.js"></script>
</body>

</html>