<%- include('../partials/header-logreg.ejs') %>

<div class="register-container">
  <div class="register-box">
    <a href="/Home" class="back-to-home">
      <img src="/img/GFMLogo.png" alt="Green FM Logo" class="logo">
    </a>
    <h2 class="register-title">Create an Account</h2>

    <!-- Registration Form -->
    <form id="registerForm2" class="register-form">
      <label for="lastName">Full Name:</label>
      <div class="full-name-group">
        <input type="text" name="lastName" placeholder="Last Name*" required>
        <input type="text" name="firstName" placeholder="First Name*" required>
        <input type="text" name="middleInitial" class="middleinitial" placeholder="M.I">
        <input type="text" name="suffix" class="middleinitial" placeholder="Suffix">
      </div>

      <div class="form-group checkbox-group">
        <label for="dlsuD">Are you from DLSU-D?</label>
        <label class="checkbox-label">
          <input type="radio" id="dlsuD" name="dlsuD" value="true" required> Yes
        </label>
        <label class="checkbox-label">
          <input type="radio" id="dlsuDNo" name="dlsuD" value="false"> No
        </label>
      </div>    

      <div id="dlsudEmailContainer" style="display: none;"> <!-- Hide initially -->
        <hr><br>
        <label for="dlsudEmail">DLSU-D Email:</label>
        <input type="text" id="dlsudEmail" name="dlsudEmail" placeholder="@dlsud.edu.ph">
        <div class="studnumlabel">
        <label>Student Number:</label>
        <p class="formnote">For students only. If not applicable, check "N/A"</p>
        <div class="studentNumber">
            <input type="text" id="studentNumber" name="studentNumber">
        </div>
       </div>
        <div class="checkbox-group-dlsud">
            <label class="checkbox-label-dlsud">
                <input type="checkbox" id="studentNumberNotApplicable" name="studentNumberNotApplicable"> Not Applicable
            </label>
        </div>
      </div>     

      <button type="submit" class="register-button">Submit</button>
    </form>
  </div>
</div>

<script src="/js/3-logreg/add-info.js"></script>
</body>
</html>