<%- include('../partials/header-logreg.ejs') %>

<div class="login-container">
  <div class="login-box">
    
    <!-- Back to Previous Page Button inside the container -->
    <span class="back-to-home" onclick="goBack()">
      <img src="/img/back.png" alt="Back to Previous Page" class="back-icon">
    </span>

    <a href="/">
      <img src="/img/GFMLogo.png" alt="Green FM Logo" class="logo">
    </a>
    
    <h2 class="login-title">Forgot Password</h2>

    <form class="forgot-password-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <div class="email-error"></div> <!-- Error message will display here -->
      </div>
      
      <button type="submit" class="login-button">Submit</button>
    </form>

  </div>
</div>

<script src="/js/3-logreg/forgot-password.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
