<%- include('../partials/header-logreg.ejs') %>

<div class="login-container">
  <div class="login-box">
    
    <!-- Back to Previous Page Button inside the container -->
    <span class="back-to-home" onclick="goBack()">
      <img src="/img/back.png" alt="Back to Previous Page" class="back-icon">
    </span>

    <a href="/">
      <img src="/img/GFMLogo.png" alt="Green FM Logo" class="logo">
    </a>
    
    <h2 class="login-title">Reset Password</h2>

    <form class="reset-password-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="<%= user.email %>" disabled required>
      </div>
      <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="newPassword" required>
        <div class="new-password-error"></div>
      </div>
      <div class="form-group">
        <label for="confirm-new-pass">Confirm New Password</label>
        <input type="password" id="confirm-new-pass" name="confirmNewPassword" required>
        <div class="confirm-new-pass-error"></div>
      </div>
      
      <button type="submit" class="login-button">Submit</button>
    </form>

  </div>
</div>

<script src="/js/3-logreg/reset-password.js"></script>
</body>

</html>
