<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Admin/home.css">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <!-------------------- SIDEBAR -------------------->
                <div class="sidebars">
                    <div class="sidebar">
                        <img src="../img/GFMLogo.png" alt="GFM Logo" class="logo">
                        <h1 class="title">95.9 GREEN FM</h1>
                        <ul class="menu">
                            <li><a href="/Admin-Home">HOME</a></li>
                            <li><a href="/Admin-Live">LIVE</a></li>
                            <li><a href="/Admin-Forum">FORUM</a></li>
                            <li><a href="/Admin-Archives">ARCHIVES</a></li>
                            <li><a href="/Admin-Playlist">PLAYLIST</a></li>
                        </ul>
                    </div>

                    <div class="sidebar1">
                        <ul class="menu">
                            <li><a href="/Admin-Manage">MANAGE ACCOUNTS</a></li>
                            <li class="applications">
                                <a href="#">APPLICATIONS</a>
                                <ul class="submenu">
                                    <li><a href="/Admin-Members">MEMBERS</a></li>
                                    <li><a href="/Admin-Blocktimers">BLOCKTIMERS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>                    

                    <div class="sidebar2">
                        <ul class="menu">
                            <li><a href="/Admin-About">ABOUT US</a></li>
                            <li><a href="/Admin-Contact">CONTACT US</a></li>
                        </ul>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/959GreenFm" target="_blank"><img src="../img/FBLogo.png" alt="Facebook" class="social-icon"></a>
                            <a href="https://www.instagram.com/dlsud.greenfm/" target="_blank"><img src="../img/IGLogo.png" alt="Instagram" class="social-icon"></a>
                        </div>
                    </div>
                </div>

                <!-------------------- HEADER MENUS -------------------->   
                <div class="header-container">
                    <div class="posts-title-container">
                        <h3 class="posts-title">POSTS</h3>
                    </div>
                    <div class="chat-search-container">
                        <div class="icons-container">
                            <img src="../img/email.png" alt="Email Icon" class="icon">
                            <img src="../img/search.png" alt="Search Icon" class="icon">
                        </div>
                    </div>
                    <div class="user-log-container">
                        <div class="user-container">
                            <img src="../img/user.png" alt="User Icon" class="user-icon">
                            <span class="login-text">LOG-IN</span>
                        </div>
                    </div>
                </div>

                <!-------------------- POST COMPONENT -------------------->
                <div class="post-container">
                    <textarea class="post-textbox" placeholder="Write something..."></textarea>
                    <div class="post-options">
                        <button class="post-option-button">
                            <img src="../img/image.png" alt="Add Image" class="option-icon">
                        </button>
                        <button class="post-option-button">
                            <img src="../img/document.png" alt="Add Document" class="option-icon">
                        </button>
                        <button class="post-button">Post</button>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------- FOOTER -------------------->
        <footer>
            © Copyright 2015 De La Salle University - Dasmariñas &nbsp;&nbsp;&nbsp;
            <a href="#">FAQ</a> | <a href="#">Help</a>
        </footer>
    </div>

    <script src="/Admin-GFM.js"></script>
</body>
</html>