<%- include('../partials/header.ejs') %>

    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <%- include('../partials/nav.ejs') %>

                <!-------------------- HEADER MENUS -------------------->   
                <%- include('../partials/menu.ejs') %>

                <!-------------------- CONTENTS START --------------------> 
                    <!-- Tabs for Submissions and Schedule -->
                    <div class="tabs-container">
                        <button class="tab-button active" data-tab="schedule-tab">Schedule</button>
                        <button class="tab-button" data-tab="submissions-tab">Submissions</button>

                    </div>

                    <div class="tab-content">
                        <!-- Schedule Tab -->
                        <div id="schedule-tab" class="tab-pane active">
                            <div class="school-year-config">
                                <h3>Configure School Year</h3>
                                <form id="schoolYearConfigForm">
                                    <label for="startMonth">Start Month:</label>
                                    <select id="startMonth" name="startMonth">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>

                                    <label for="startYear">Start Year:</label>
                                    <input type="number" id="startYear" name="startYear" placeholder="e.g., 2024"
                                        required>

                                    <label for="endMonth">End Month:</label>
                                    <select id="endMonth" name="endMonth">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>

                                    <label for="endYear">End Year:</label>
                                    <input type="number" id="endYear" name="endYear" placeholder="e.g., 2025" required>

                                    <button type="submit">Save Configuration</button>
                                </form>
                                <!-- Display Current Configuration -->
                                <div id="currentSchoolYearConfigDisplay" style="margin-top: 10px; font-weight: bold;">
                                    <!-- Configuration will be loaded here by JS -->
                                </div>
                            </div>
                            <div class="schedule-container">
                                <label for="schoolYear">School Year:</label>
                                <select id="schoolYear" name="schoolYear">
                                    <!-- Options will be dynamically populated -->
                                </select>
                                <table class="schedule-table">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Monday</th>
                                            <th>Tuesday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="time">9:10-9:55</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="9:10-9:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="9:10-9:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="9:10-9:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="9:10-9:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="9:10-9:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">10:00-10:55</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="10:00-10:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="10:00-10:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="10:00-10:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="10:00-10:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="10:00-10:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">11:00-11:55</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="11:00-11:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="11:00-11:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="11:00-11:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="11:00-11:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="11:00-11:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">12:01-12:55</td>
                                            <td colspan="4"><button class="permaSchedbtn">FM MIX</button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="12:01-12:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">1:00-1:55</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="1:00-1:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="1:00-1:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="1:00-1:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="1:00-1:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="1:00-1:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">2:00-2:55</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="2:00-2:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="2:00-2:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="2:00-2:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="2:00-2:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="2:00-2:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">3:00-3:55</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="3:00-3:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="3:00-3:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="3:00-3:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="3:00-3:55"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="3:00-3:55"></button></td>
                                        </tr>
                                        <tr>
                                            <td class="time">4:00-4:50</td>
                                            <td><button type="button" class="availablebtn" data-day="Monday"
                                                    data-time="4:00-4:50"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Tuesday"
                                                    data-time="4:00-4:50"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Wednesday"
                                                    data-time="4:00-4:50"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Thursday"
                                                    data-time="4:00-4:50"></button></td>
                                            <td><button type="button" class="availablebtn" data-day="Friday"
                                                    data-time="4:00-4:50"></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="scheduleModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <form id="scheduleForm">
                                        <h3>Schedule Details</h3>
                                        <div class="form-group">
                                            <label for="modalSchoolYear">School Year:</label>
                                            <select id="modalSchoolYear" name="modalSchoolYear">
                                                <!-- Options will be dynamically populated -->
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="showTitle">Title of Show</label>
                                            <input type="text" id="showTitle" name="showDetails.title" required />
                                        </div>

                                        <!-- Checkboxes -->
                                        <div class="form-group checkbox-group">
                                            <label>Type of Show</label>
                                            <div class="checkbox-row">
                                                <label><input type="checkbox" name="showDetails.type[]" value="News">
                                                    News</label>
                                                <label><input type="checkbox" name="showDetails.type[]"
                                                        value="Interview"> Interview</label>
                                                <label><input type="checkbox" name="showDetails.type[]" value="Comedy">
                                                    Comedy</label>
                                            </div>
                                            <div class="checkbox-row">
                                                <label><input type="checkbox" name="showDetails.type[]" value="Sports">
                                                    Sports</label>
                                                <label><input type="checkbox" name="showDetails.type[]" value="Music">
                                                    Music</label>
                                                <label><input type="checkbox" name="showDetails.type[]"
                                                        value="Entertainment"> Entertainment</label>
                                            </div>
                                            <div class="checkbox-row">
                                                <label><input type="checkbox" name="showDetails.type[]"
                                                        value="Discussion or Podcast"> Discussion or Podcast</label>
                                                <label><input type="checkbox" name="showDetails.type[]"
                                                        value="Performance"> Performance</label>
                                                <label><input type="checkbox" name="showDetails.type[]" value="Drama">
                                                    Drama</label>
                                            </div>
                                            <div class="checkbox-row">
                                                <label><input type="checkbox" name="showDetails.type[]"
                                                        value="Commentary"> Commentary</label>
                                                <label><input type="checkbox" name="showDetails.type[]" value="Game">
                                                    Game</label>
                                                <label><input type="checkbox" name="showDetails.type[]"
                                                        value="Public or Current Affairs"> Public or Current
                                                    Affairs</label>
                                            </div>
                                            <div class="checkbox-row">
                                                <input type="checkbox" name="showDetails.type[]" id="other"
                                                    value="Other">
                                                <input type="text" id="other-input" placeholder="Other"
                                                    disabled="true" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="showDescription">Brief Description of Show</label><br>
                                            <textarea id="showDescription" name="showDetails.description" rows="4"
                                                cols="130" placeholder="Enter your answer" required></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="showObjectives">Objective of Show</label>
                                            <textarea id="showObjectives" name="showDetails.objectives" rows="4"
                                                cols="50" placeholder="Enter your answer" required></textarea>
                                        </div>
                                        <label>Name of Executive Producer</label>
                                        <div class="name-section">
                                            <input type="text" id="execProducerLastName"
                                                name="executiveProducer.lastName" placeholder="Last Name" required>
                                            <input type="text" id="execProducerFirstName"
                                                name="executiveProducer.firstName" placeholder="First Name" required>
                                            <input type="text" id="execProducerMI" name="executiveProducer.mi"
                                                class="middleinitial" placeholder="M.I.">
                                            <input type="text" id="execProducerSuffix" name="executiveProducer.suffix"
                                                class="middleinitial" placeholder="Suffix">
                                            <input type="text" id="execProducerCYS" name="executiveProducer.cys"
                                                placeholder="CYS">
                                        </div>
                                        <label>Name of Host/s</label>
                                        <p class="formnote">The hosting arrangement permits a weekly rotation of hosts,
                                            limited to two (2) sets only.
                                            This means that there is a maximum cap of four (4) individuals who can
                                            collectively host a single program.</p>

                                        <!-- Container for hosts, necessary for dynamic addition -->
                                        <div id="hosts-container">
                                            <div class="name-section host-input-group">
                                                <input type="text" name="hosts[0][lastName]" placeholder="Last Name"
                                                    required>
                                                <input type="text" name="hosts[0][firstName]" placeholder="First Name"
                                                    required>
                                                <input type="text" name="hosts[0][mi]" class="middleinitial"
                                                    placeholder="M.I.">
                                                <input type="text" name="hosts[0][suffix]" class="middleinitial"
                                                    placeholder="Suffix">
                                                <input type="text" name="hosts[0][cys]" placeholder="CYS">
                                                <button type="button" class="remove-host-button" style="display: none; margin-left: 5px;">Remove</button>
                                            </div>
                                        </div>
                                        <button type="button" id="addHost" class="addbutton" disabled>+ Add Host</button><br><br>

                                        <label>Name of Technical Staff/s</label>
                                        <p class="formnote">Each airing of an episode is to be organized by a maximum of
                                            two (2)
                                            technical staff while coordinating with the 95.9 Green FM Directors for
                                            Operations and Logistics.</p>

                                        <!-- Container for technical staff, necessary for dynamic addition -->
                                        <div id="technical-container">
                                            <div class="name-section technical-input-group">
                                                <input type="text" name="technicalStaff[0][lastName]"
                                                    placeholder="Last Name" required>
                                                <input type="text" name="technicalStaff[0][firstName]"
                                                    placeholder="First Name" required>
                                                <input type="text" name="technicalStaff[0][mi]" class="middleinitial"
                                                    placeholder="M.I.">
                                                <input type="text" name="technicalStaff[0][suffix]" class="middleinitial"
                                                    placeholder="Suffix">
                                                <input type="text" name="technicalStaff[0][cys]" placeholder="CYS">
                                                <button type="button" class="remove-technical-button" style="display: none; margin-left: 5px;">Remove</button>
                                            </div>
                                        </div>
                                        <button type="button" id="addTechnical" class="addbutton" disabled>+ Add Technical Staff</button><br><br>

                                        <label>Name of Creative Staff</label>
                                        <p class="formnote">The publicity materials for the promotion of the
                                            blocktimers' show is to be crafted by one (1)
                                            creatives staff while coordinating with the 95.9 Green FM Senior Director
                                            for Creatives and Promotions.</p>
                                        <div class="name-section">
                                            <input type="text" id="creativeStaffLastName" name="creativeStaff.lastName"
                                                placeholder="Last Name" required>
                                            <input type="text" id="creativeStaffFirstName"
                                                name="creativeStaff.firstName" placeholder="First Name" required>
                                            <input type="text" id="creativeStaffMI" name="creativeStaff.mi"
                                                class="middleinitial" placeholder="M.I.">
                                            <input type="text" id="creativeStaffSuffix" name="creativeStaff.suffix"
                                                class="middleinitial" placeholder="Suffix">
                                            <input type="text" id="creativeStaffCYS" name="creativeStaff.cys"
                                                placeholder="CYS">
                                        </div>

                                        <button id="saveButton" type="button">Save</button>
                                        <button id="deleteButton" type="button" style="display: none;">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Submissions Tab -->
                        <div id="submissions-tab" class="tab-pane">
                            <div id="submissions-container">
                                <!-- Add School Year Dropdown -->
                                <label for="submissionSchoolYear">School Year:</label>
                                <select id="submissionSchoolYear" name="submissionSchoolYear">
                                    <!-- Options will be dynamically populated -->
                                </select>
                                <select id="resultFilter">
                                    <option value="">All</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Accepted">Accepted</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                                <table class="submissions-table">
                                    <thead>
                                        <tr>
                                            <th>Show Title</th>
                                            <th>Organization</th>
                                            <th>Preferred Schedule</th>
                                            <th>Result</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="submissions-table-body">
                                        <!-- Submissions will be dynamically loaded here -->
                                    </tbody>
                                </table>

                                <form id="submission-form">
                                    <h3>Submission Details</h3>
                                    <div>
                                        <label for="organizationName">Organization Name:</label>
                                        <input type="text" id="organizationName" name="organizationName" readonly>
                                    </div>

                                    <div>
                                        <label for="organizationType">Organization Type:</label>
                                        <input type="text" id="organizationType" name="organizationType" readonly>
                                    </div>

                                    <div>
                                        <label for="proponentName">Proponent Name:</label>
                                        <input type="text" id="proponentName" name="proponentName" readonly>

                                        <label for="proponentCYS">Proponent CYS:</label>
                                        <input type="text" id="proponentCYS" name="proponentCYS" readonly>
                                    </div>

                                    <div>
                                        <label for="coProponentName">Co-Proponent Name:</label>
                                        <input type="text" id="coProponentName" name="coProponentName" readonly>

                                        <label for="coProponentCYS">Co-Proponent CYS:</label>
                                        <input type="text" id="coProponentCYS" name="coProponentCYS" readonly>
                                    </div>

                                    <div>
                                        <label for="show-title">Show Title:</label>
                                        <input type="text" id="show-title" name="show-title" readonly>
                                    </div>

                                    <div>
                                        <label for="showType">Show Type:</label>
                                        <input type="text" id="showType" name="showType" readonly>
                                    </div>

                                    <div>
                                        <label for="showDescription">Show Description:</label>
                                        <textarea id="showDescription" name="showDescription" readonly
                                            rows="4"></textarea>
                                    </div>

                                    <div>
                                        <label for="show-objectives">Show Objectives:</label>
                                        <textarea id="show-objectives" name="show-objectives" readonly
                                            rows="4"></textarea>
                                    </div>

                                    <div>
                                        <label for="executiveProducer">Executive Producer Name:</label>
                                        <input type="text" id="executiveProducer" name="executiveProducer" readonly>

                                        <label for="executiveProducerCYS">Executive Producer CYS:</label>
                                        <input type="text" id="executiveProducerCYS" name="executiveProducerCYS"
                                            readonly>
                                    </div>

                                    <div>
                                        <label for="CreativeStaff">Faculty Staff Name:</label>
                                        <input type="text" id="facultyStaff" name="facultyStaff" readonly>

                                        <label for="facultyStaffDepartment">Faculty Staff Department:</label>
                                        <input type="text" id="facultyStaffDepartment" name="facultyStaffDepartment"
                                            readonly>
                                    </div>

                                    <div id="host-container">
                                        <!-- Host fields will be dynamically added here -->
                                    </div>

                                    <div id="technicalStaff-container">
                                        <!-- Host fields will be dynamically added here -->
                                    </div>

                                    <div>
                                        <label for="creativeStaff">Creative Staff Name:</label>
                                        <input type="text" id="creativeStaff" name="creativeStaff" readonly>

                                        <label for="creativeStaffCYS">Creative Staff CYS:</label>
                                        <input type="text" id="creativeStaffCYS" name="creativeStaffCYS" readonly>
                                    </div>

                                    <div>
                                        <label for="dlsudEmail">DLSUD Email:</label>
                                        <input type="text" id="dlsudEmail" name="dlsudEmail" readonly>
                                    </div>

                                    <div>
                                        <label for="contactEmail">Contact Email:</label>
                                        <input type="text" id="contactEmail" name="contactEmail" readonly>
                                    </div>

                                    <div>
                                        <label for="contactFbLink">Contact FB Link:</label>
                                        <input type="text" id="contactFbLink" name="contactFbLink" readonly>
                                    </div>

                                    <div id="FbLink-container">
                                        <label for="FbLink">Crossposting FB Link:</label>
                                        <input type="text" id="FbLink" name="FbLink" readonly>
                                    </div>

                                    <div>
                                        <label for="proponentSignature">Proponent Signature:</label>
                                        <img id="proponentSignature" name="proponentSignature" src=""
                                            alt="Proponent Signature"
                                            style="max-width: 15%; height: auto;  display: none;">
                                    </div>

                                    <label for="preferredDay">Preferred Day:</label>
                                    <select id="preferredDay" name="preferredDay" disabled>
                                        <option value="" disabled selected>Select a day</option>
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                    </select>

                                    <label for="preferredTime">Preferred Time:</label>
                                    <select id="preferredTime" name="preferredTime" disabled>
                                        <option value="" disabled selected>Select a time</option>
                                    </select>

                                    <div class="form-group">
                                        <label for="result">Result</label>
                                        <select id="result" name="result" disabled>
                                            <option value="Pending" disabled selected>Pending</option>
                                            <!-- Default unselectable value -->
                                            <option value="Accepted">Accepted</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                        <div class="result-error"></div>
                                    </div>

                                    <button type="button" class="cancel-button" disabled>Cancel</button>
                                    <button type="button" class="submit-button" disabled>Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script src="js/1-admin/blocktimer.js"></script>

    </body>

    </html>