<%- include('../partials/header.ejs') %>

<div class="page-container">
    <div class="content-wrap">
        <div class="container">
            <%- include('../partials/nav.ejs') %>

            <!-- Tabs for Submissions and Schedule -->
            <div class="tabs-container">
                <button class="tab-button active" data-tab="schedule-tab">Schedule</button>
                <button class="tab-button" data-tab="submissions-tab">Submissions</button>
            </div>

            <div class="tab-content">
                <!-- Schedule Tab -->
                <div id="schedule-tab" class="tab-pane active">
                    <div class="route-settings">
                        <h3>Set Join GFM Route Availability</h3>
                        <form id="routeSettingsForm">
                            <div>
                                <label for="startDate">Start Date:</label>
                                <input type="date" id="startDate" name="startDate" required>
                            </div>
                            <div>
                                <label for="endDate">End Date:</label>
                                <input type="date" id="endDate" name="endDate" required>
                            </div>
                            <button type="submit">Save</button>
                        </form>
                    </div>
                    <label for="department-filter">Filter by Department:</label>
                    <select id="department-filter">
                        <option value="News and Public Affairs">News and Public Affairs</option>
                        <option value="Music and Entertainment">Music and Entertainment</option>
                        <option value="Operations and Logistics">Operations and Logistics</option>
                        <option value="Creatives and Promotions">Creatives and Promotions</option>
                    </select>

                    <table class="schedule-table">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                            </tr>
                        </thead>
                        <tbody id="schedule-body">
                            <tr>
                                <td class="time">7:00-8:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="7:00-8:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="7:00-8:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="7:00-8:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="7:00-8:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="7:00-8:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">8:00-9:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="8:00-9:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="8:00-9:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="8:00-9:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="8:00-9:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="8:00-9:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">9:00-10:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="9:00-10:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="9:00-10:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="9:00-10:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="9:00-10:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="9:00-10:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">10:00-11:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="10:00-11:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="10:00-11:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="10:00-11:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="10:00-11:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="10:00-11:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">11:00-12:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="11:00-12:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="11:00-12:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="11:00-12:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="11:00-12:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="11:00-12:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">12:00-1:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="12:00-1:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="12:00-1:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="12:00-1:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="12:00-1:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="12:00-1:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">1:00-2:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="1:00-2:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="1:00-2:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="1:00-2:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="1:00-2:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="1:00-2:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">2:00-3:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="2:00-3:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="2:00-3:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="2:00-3:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="2:00-3:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="2:00-3:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">3:00-4:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="3:00-4:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="3:00-4:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="3:00-4:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="3:00-4:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="3:00-4:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">4:00-5:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="4:00-5:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="4:00-5:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="4:00-5:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="4:00-5:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="4:00-5:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">5:00-6:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="5:00-6:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="5:00-6:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="5:00-6:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="5:00-6:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="5:00-6:00" disabled></button></td>
                            </tr>
                            <tr>
                                <td class="time">6:00-7:00</td>
                                <td><button type="button" class="availablebtn" data-day="Monday" data-time="6:00-7:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Tuesday" data-time="6:00-7:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Wednesday" data-time="6:00-7:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Thursday" data-time="6:00-7:00" disabled></button></td>
                                <td><button type="button" class="availablebtn" data-day="Friday" data-time="6:00-7:00" disabled></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Submissions Tab -->
                <div id="submissions-tab" class="tab-pane">
                    <p>Submissions content goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="scheduleModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="scheduleForm">
            <h3>Schedule Details</h3>
            <div>
                <label for="adminName">Admin Name:</label>
                <input type="text" id="adminName" name="adminName" readonly>
            </div>
            <div>
                <label for="cys">CYS:</label>
                <input type="text" id="cys" name="cys" required>
            </div>
            <div>
                <label for="day">Day:</label>
                <input type="text" id="day" name="day" readonly>
            </div>
            <div>
                <label for="time">Time:</label>
                <input type="text" id="time" name="time" readonly>
            </div>
            <div>
                <label for="subject">Subject Code:</label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div>
                <label for="roomNum">Room Number:</label>
                <input type="text" id="roomNum" name="roomNum" required>
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

<script src="js/1-admin/staff.js"></script>